# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# SQLite database files
*.sqlite3

# Environment variables and virtual environments
.env
*.env
.venv/
venv/
env/

# Logs and debug files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Build artifacts
dist/
build/
*.egg-info/